{% extends "main.html" %}
		{% block sign %}
			<li><a href="{{url_for('disconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
		{% endblock %}
{% block deleteItem %}
    <div class="col-md-12 text-center">
        <h3>Are you sure you want to delete {{item.name}}</h3>
        <form action="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id )}}" method = 'POST'>
            <input type='submit' value='Delete' class="btn btn-danger">
            <a href="{{url_for('catalogItemList', category_id=item.category_id)}}">Cancel</a>
        </form>
    </div>
{% endblock %}